<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <link rel="stylesheet" href="//yandex.st/bootstrap/2.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/github.min.css">
    <link rel="stylesheet" href="{{files}}/style.css"/>
    <title>{{page}} - {{title}}</title>
    {{jquery}}
    <script src="//yandex.st/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!--[if !lte IE 8]>-->
    <script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <!--<![endif]-->
</head>
<body>
<div class="container">
    {{active_index=""}}
    {{active_landing=""}}
    {{active_docs=""}}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{title}}</a>
            <ul class="nav">
                <li class="{{active_index}}"><a href="/index.html">Главная</a></li>
                <li class="{{active_landing}}"><a href="/landing.html">Перенос лендинга</a></li>
                <li class="{{active_docs}}"><a href="/docs.html">Документация</a></li>
            </ul>
        </div>
    </div>

    {{content}}

    <hr>

    <footer>
        <p>(C) {{title}}, {{year}}</p>
    </footer>

</div>
<!-- /container -->
</body>
</html>