{{page="Главная страница"}}
{{active_index="active"}}
<div>
    <h1>Ваш персональный демо-проект</h1>
    <p>
        Вы находитесь на странице вашего персонального демо-проекта, в котором вы сможете оценить весь функционал нашего сервиса.
        Это стандартный лендинг (дизайн) для демонстрационных проектов, на котором мы постараемся показать вам все возможности.
        Можете смело делать здесь заказы и тестировать весь функционал нашего сервиса.
    </p>

    <h2>Цена товара</h2>
    <div class="alert alert-info">
        Мы разработали отличный инструмент для опеределения наилучшей цены товара и повышения ваших доходов! Вы можете изменить цену
        продаваемого товара, просто сгенерировав специальную ссылку
    </div>
    <p class="lead">Всего за <s>&nbsp;{{old_price}}&nbsp;</s> {{price}} руб. Со скидкой {{diff_price_percent}}% вы экономите {{diff_price_sum}} руб</p>
    <ul>
        <li>Сгенерировав <a href="/index.html?o=1f40&p=137e">такую ссылку</a> и перейдя по ней вы увидите, что цена на товар изменится на 4990 руб, а старая цена на 8000 руб</li>
        <li>Или <a href="/index.html?o=bb8&p=69a">такую</a>, и цена на товар изменится на 1690 руб, а старая цена на 3000 руб</li>
    </ul>
    <p>В настройках вы можете запретить изменение цены товара или задать её минимальное значение. Кроме того, каждый домен
        вашего проекта может иметь отдельную цену на товар
    </p>

    <h2>Маркетинговые уловки</h2>
    <div class="alert alert-info">
        Наш сервис позволяет использовать на лендингах специальные маркетинговые уловки, которые значительно повышают конверсию
    </div>
    <ul>
        <li>Легкая установка старой и новой цены на товар</li>
        <li>Уловки с датами. Например, «только {{today}}», «только с {{from_to}}», «только до {{only_to}}» </li>
        <li>
            Определять город и регион по IP-адресу. Полезно в отзывах, где пишется город человека, заказавшего товар.
            Или «только для жителей г.{{geo_city}} мы предлагаем скидку...»
        </li>
        <li>
            {{countdown.js}}
            Таймер обратного отсчёта. «До окончания акции осталось
            <span class="lv_countdown_days"></span>:<span class="lv_countdown_hours"></span>:<span class="lv_countdown_minutes"></span>:<span class="lv_countdown_seconds"></span>»
        </li>
    </ul>


    <h2>Форма заказа</h2>
    <div class="alert alert-info">
        Форма заказа может быть настроена максимально гибко. Вы можете редактировать набор полей, их типы, порядок следования
        и правила проверки введенных данных. Все это не требует специальных знаний, а настраивается в меню «Настройки - Поля формы»
        буквально в пару кликов. Кроме того, вы можете настроить поля по-разному для каждого домена
    </div>
    <div class="row">
        <script>
            window.leadvertex.form.placeholderOnly(1);
        </script>
        <div class="span5">{{form}}</div>
        <div class="span7">
            <b>Цена: </b> {{price_multi}} руб<br>
            <b>Доставка: </b> {{price_delivery=1}} руб<br>
            <b>Скидка за количество товаров: </b> {{quantity_discount_percent}}%<hr>
            <b class="lead">Итого: </b> {{price_total}} руб<br>
            <br/>
            <div class="alert alert-info">
                Вы можете гибко настраивать скидки на товар в зависимости от его количества. Например, делать акции вида
                «Второй товар со скидкой 50%» или «Третий товар бесплатно». Это настраивается в меню «Настройки - Продажи - Управление скидками»
                <hr/>
                Цена доставки может оставаться одной и той же при заказе нескольких товаров, или считаться отдельно для каждого
            </div>
        </div>
    </div>

    <h2>Остались вопросы?</h2>
    <p>
        Мы рекомендуем вам ознакомиться с нашими текстовыми или видео-инструкциями. Они сняты максимально кратко и понятно, и всего
        за 10 минут вы полностью разберетесь с тем, как работает наша система. Инструкции можно найти в
        <a href="http://blog.leadvertex.ru/">нашем блоге</a>, в разделе «Инструкции»
    </p>
    <p>
        В случае возникновения вопросов вы всегда можете обратиться в нашу <a href="http://leadvertex.ru/page/contact.html">службу поддерджки</a>
        любым удобным для вас способом. Мы обязательно вам поможем <img src="http://www.kolobok.us/smiles/standart/good3.gif" alt=""/>
    </p>
    <p>
        Также мы рекомендуем вам подписаться на наши новости <a href="http://vk.com/leadvertex">ВКонтакте</a> для того, чтобы знать о
        новых возможностях нашего сервиса
    </p>

</div>
