{{page="Перенос лендинга"}}
{{active_landing="active"}}
<h1>Перенос лендинга</h1>
<div>
    <div class="alert alert-success">
        Перенос первого лендинга для каждого вашего оффера осуществляется нашими специалистами
        <b>БЕСПЛАТНО</b>. Перенос следующих лендингов также могут осуществить наши специалисты, но уже на платной основе
    </div>

    <div class="alert alert-info">
        Эта страница содержит техническую информацию для верстальщиков. Здесь описаны технические принципы и особенности
    </div>

    <h2>Что нужно знать?</h2>
    <ol>
        <li>
            <a href="https://github.com/XAKEPEHOK/leadvertex_emulator">Эмулятор нашего шаблонизатора</a> позволяет быстро адаптировать
            ваш существующий лендинг под требования нашей системы. При помощи эмулятора вы можете редактировать лендинг и смотреть
            результат прямо у себя на компьютере без заливки на наш сервер
        </li>
        <br/>
        <li>
            Шаблонизатор обладает рядом специфических особенностей. Вы всегда можете обратиться к <a href="/docs.html">документации</a>.
            Служба поддержки не дает консультаций для самостоятельного переноса, так как все инструкции написаны на этой странице и странице
            с <a href="/docs.html">документацией</a>, и как показывает практика, у людей, владеющих навыками html и css верстки проблем не возникает
        </li>
        <br/>
        <li>
            Любые манипуляции с шаблонами, скриптами и стилями осуществляются только через меню «Найстройки - Дизайн - Редактор шаблонов»
            (даже если вы используете тарифы с FTP)
        </li>
        <br/>
        <li>
            Готовые лендинги можно закачивать сразу целиком, запаковав их в архив *.tar (рекомендуем архиватор
            <a href="http://www.7-zip.org/download.html">7-zip</a>). Архивы *.tar закачиваемые через редактор шаблонов будут
            автоматически распакованы в выбранной директории
        </li>
    </ol>

    <h2>Структура шаблонов</h2>
    <p>
        Любой шаблон должен иметь следующую структуру <img src="{{files}}/images/structure.png" alt="структура шаблонов" style="float: right;"/>
    </p>
    <ul>
        <li>
            <b id="tag_files">files/</b> - Все подключаемые ресурсы (стили, скрипты, изображения) должны находиться только в этой папке. Доступ к файлам
            из этой папки из шаблонов осуществляется не через прямое прописывание пути, а через указание тега  <code><span class="special">files</span></code>
            <br/>
            Пример отображения картинки из папки /files/images/structure.png
            <ul>
                <li>Правильно: &lt;img src=&quot;<span class="special">files</span>/images/structure.png&quot;/&gt;</li>
                <li>Ошибочно: &lt;img src=&quot;/files/images/structure.png&quot;/&gt;</li>
            </ul>
        </li>
        <br/>
        <li>
            <b>pages/</b> - страницы вашего сайта. Должны быть именно в этом каталоге (index.html в корне выполняет функцию «слоя» (layout))
        </li>
        <li>
            <b>favicon.ico</b> - значок вашей страницы во вкладке браузера. Необязательный файл
        </li>
        <li>
            <b>index.html</b> - Если у вас многостраницный сайт, все страницы которого выполнены в едином стиле, то будет удобно
            вынести шапку и подвал сайта в этот файл, а содержимое страниц загружать из файлов в папке <code>pages/</code>. Подробнее читайте дальше
        </li>
    </ul>


    <h3>Одностраничный шаблон</h3>
    <p>
        Под одностраничным шаблоном подразумевается, что ваш сайт будет иметь только главную страницу и страницу успешного заказа.
        Обычно в таких случаях каждая страница имеет свою собственную структуру и верстку. Для создания такого шаблона достаточно
        создать в папке <code>pages/</code> 2 файла: <code>pages/index.html</code> и <code>pages/success.html</code>
    </p>
    <p>
        Поскольку в этих файлах не будет общей шапки и подвала, то корневой <code>index.html</code> можно даже не создавать.
    </p>
    <p>
        В итоге доступ к страницам вашего сайта будет осуществляться по адресу
        <a>http://ваш_домен.ru/index.html</a> и <a>http://ваш_домен.ru/success.html</a>
    </p>
    <p>Скачать пример одностраничного шаблона</p>

    <h3>Многостраничный шаблон</h3>
    <p>
        Существуют шаблоны с множеством страниц, где все страницы имеют один и тот же дизайн, но разный контент. Например,
        на сайте есть главная страница, faq и страница успешного заказа. У всех этих страниц одна и та же шапка и подвал. Различается лишь контент
        В таком случае корневой файл <code>index.html</code> будет содержать шапку и подвал, а между ними тег <code><span class="special">content</span></code>.
        В файлах <code>pages/index.html</code>, <code>pages/faq.html</code> <code>pages/success.html</code> будет содержаться лишь текстовое
        содержимое этих страниц. Проще говоря, тег <code><span class="special">content</span></code> будет заменяться на содержимое соответствующей страницы
    </p>
    <p>
        В итоге доступ к страницам вашего сайта будет осуществляться по адресу
        <a>http://ваш_домен.ru/index.html</a>, <a>http://ваш_домен.ru/faq.html</a> и <a>http://ваш_домен.ru/success.html</a>
    </p>
    <p>
        Хорошим примером является код текущего демонстрационного лендинга. Он досупен вам в редакторе шаблонов
    </p>

    <h2>FAQ и ошибки</h2>
    <div class="alert alert-info">
        <b>ОБЯЗАТЕЛЬНО</b> ознакомьтесь с <a href="/docs.html">документацией</a> перед началом переноса шаблона
    </div>

    <blockquote>
        Как мне изменить код формы заказа?
    </blockquote>
    <p>
        Код формы заказа изменить нельзя. Он генерируется сервером. Это сделано для того, чтобы предприниматель мог легко
        настроить форму заказа в админке, не прибегая к навыкам верстки. Разметка формы заказа содержит в себе всевозможные
        селекторы для её полной кастомизации. Если у вас возникнут трудности, можете посмотреть
        <a href="/form.html">примеры различной конфигурации формы заказа</a>
    </p>

    <hr/>

    <blockquote>
        Почему при неверном заполнении данных формы страница обновляется и показывает ошибки только потом?
    </blockquote>
    <p>
        Вероятно, вы подключаете jQuery дважды. Подключение jQuery должно осуществляться только тегом <code><span class="special">jquery</span></code>.
        Подробнее можно прочитать <a href="/docs.html#system">здесь</a>
    </p>
    <hr/>

    <blockquote>
        На лендинге не отображаются картинки, не подключаются стили и скрипты
    </blockquote>
    <p>
        Вероятно, вы не используете тег <code><span class="special">files</span></code>.
        Подробнее можно прочитать <a href="#tag_files">здесь</a> и в <a href="/docs.html#system">документации</a>. Также попробуйте
        открыть редактор шаблонов, нажать правой кнопкой мыши на каталог с лендингом и выбрать пункт «Синхронизировать»
    </p>


</div>