.box-sizing(@value:border-box) {
  box-sizing: @value;
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
}

.lv-order-form {
  padding: 15px;
  border: thin solid gray;
  div.lv-row {
    display: block;
    margin-bottom: 8px;
  }
  input[type=text], select, textarea {
    .box-sizing();
    display: block;
    width: 100%;
    padding: 5px;
    height: 30px;
    border: thin solid #bfbfbf;
    border-radius: 4px;
    color: inherit;
  }
  textarea {
    height: 80px;
  }
  input[type=checkbox] {
    display: inline-block;
    margin: 0 8px 0 0;
  }
  .lv-row-error {
    color: red;
  }
  .lv-label span.required {
    color: red;
  }
  .lv-label label {
    display: inline;
  }
  .lv-sub-label label {
    display: inline;
    color: gray;
  }
  .lv-order-button {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
  }
}