body {
    padding-top: 30px;
}

p {
    text-align: justify !important;
}

span.special {
    color: darkred
}

span.special:before {
    content: '{{';
    display: inline
}

span.special:after {
    content: '}}'
}

.hero-unit {
    padding: 25px;
}

#navbar-left {
    position: relative;
}

#navbar-left>ul {
    width: 220px;
    position: fixed;
}

form.lv-order-form {
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px #cdcdcd;
}

.span5 .lv-order-form {
    width: auto;
    margin: 0 auto;
}

.codeLi li {
    margin-bottom: 20px;
}

